<div class="side-bar-icons">
  <div class="logo-data">
    <div class="gradient">
      <img src="../assets/images/logo.svg" class="pacman-logo" />
      <div class="logo-bg-dark"></div>
      <div class="logo-bg-light">
        <div class="logo-light"></div>
      </div>
    </div>
  </div>
  <div class="user-pref">
    <button class="theme-btn">
      <img
        src="../assets/images/icon-moon.svg"
        class="theme-ico"
        alt="moon-icon"
      />
    </button>
    <img
      src="../assets/images/image-avatar.jpg"
      class="user-img"
      alt="user-image"
    />
  </div>
</div>
