.go-back-btn {
  min-width: auto;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.arrow-back {
  margin-right: 13px;
}
.go-back-txt {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--dark-blue);
}

.actions-bar-cont {
  width: 100%;
  height: 12%;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.status-cont {
  min-width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.status-title {
  margin-right: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--invoiceName-color);
}
.invoice-status {
  min-width: 5px;
  height: 5px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-dot {
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  margin-right: 10px;
}
.dot-orange {
  background-color: var(--status-orange);
}
.dot-gray {
  background-color: var(--status-gray);
}
.dot-green {
  background-color: var(--status-green);
}
.orange {
  color: var(--status-orange);
  background-color: var(--status-light-orange);
  border-radius: 6px;
}
.gray {
  color: var(--status-gray);
  background-color: var(--status-light-gray);
  border-radius: 6px;
}
.green {
  color: var(--status-green);
  background-color: var(--status-light-green);
  border-radius: 6px;
}
.status-txt {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
}

.actions-cont {
  min-width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.edit-btn,
.delete-btn,
.mark-as-paid-btn {
  min-width: auto;
  height: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  /*  */
  border: none;
  /*  */
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: white;
}
.mark-as-paid-btn:disabled {
  background-color: var(--light-purple);
  cursor: not-allowed;
}
.edit-btn {
  color: var(--light-blue) !important;
  background-color: var(--edit-actions-btn);
}

.delete-btn {
  background-color: var(--red);
}

.mark-as-paid-btn {
  background-color: var(--purple);
}

@media (hover: hover) and (pointer: fine) {
  .edit-btn:hover {
    background-color: var(--gray);
  }
  .delete-btn:hover {
    background-color: var(--pink);
  }
  .mark-as-paid-btn:hover {
    background-color: var(--light-purple);
  }
  .go-back-txt:hover {
    color: var(--light-blue);
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .actions-cont {
    min-width: 100%;
    height: 10%;
    position: absolute;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: white;
  }
  .status-cont {
    min-width: 100%;
    justify-content: space-between;
  }
  .edit-btn,
  .delete-btn,
  .mark-as-paid-btn {
    height: 15px;
    border-radius: 5px;
  }
}
